.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
}
.note_wrapper {
    padding: 1rem;
    border: 2px solid #fff;
    display: flex;
    flex-wrap: wrap;
    // min-width: 300px;
    .note_nav-list {
        display: flex;
        flex-direction: column;
        p {
            text-align: center;
        }
        button {
            background: #000;
            border: 1px solid #fff;
            color: #fff;
            margin: 0 auto;
            padding: 0.5em 3em;
        }
    }
}